/*Set font for entier site */
html, body, footer {
    font-family: 'Franklin Gothic Book', arial;
    padding: 0;
    margin: 0;
}

/*Cardiff logo in the navBar*/
img {
    height: 50px;
    width: 50px;
    padding-left: 20px;
}

/*NavBar controls*/
nav {
    background-color: #22211f;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
}

 nav ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 10px;
}

nav ul li {
    width: 52.76px;
    height: 26.67px;
    margin: 8px 13px 8px 13px;
    padding: 0 2px 0 2px;
    display: inline-block;
    font-weight: bold;
    color: #e9e9e9;
}

nav ul li a {
    text-decoration: none;
    color: White;

}

nav ul li a:hover {
    color: grey;
}

/* Nav bar buffer (hiding content under navbar */
main {
    padding-top: 76px;
}

/* Footer Controller */
footer {
    background-color: #22211f;
}

footer hr {
    border: #333 solid 1px;
    width: 95%;
    align-content: center;
}

footer ul {
    list-style-type: none;
    color: white;
    display: inline-block;
    vertical-align: text-top;
}

footer ul h3 {
    font-size: 23px;
}

footer ul li{
    font-size: 17px;
    margin-top: 5px;
}

footer ul li, h3 {
    padding-top: 4px;
}

footer ul li a {
    text-decoration: none;
    color: #e9e9e9;
}

footer ul li a:hover{
    text-decoration: underline;
}

footer .footender li {
    display: inline-block;
    padding: 10px 16px;
    font-size: 13px;
}

/*Sponsor logos controls*/
footer .sponsorImages img {
    height: 65px;
    width: 128px;
    margin-top: 25px;
    vertical-align: top;
    margin-bottom: 20px;
}

footer .sponsorImages #QAAImage {
    height: 95px;
    width: 135px;

}

/* MAIN BODY STYLING */


main {
    background-color: lightgrey;

}

h1 {
    font-size: 48px;
    padding-left: 47px;
    margin: 48px 0 5px 0;
}

#introduction {
    display: flex;
    justify-content: center;
}

#introduction p {
    width: 90%;
    padding: 5px;
    background-color: white;
    margin: 8px 0 8px 0;
}

h2 {
    font-size: 36px;
    padding-left: 47px;
    margin: 8px 0 10px 0;
}

#projectsOuterBox {
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.projectsInnerBox {
    background-color: white;
    width:75%; 
    margin: auto;
    height: auto;
    margin-bottom: 15px;
}


.studentProTitleBox {
}

.studentProTitle {
    margin: 0;
    font-size: 30px;
    background-color: lightgrey;
    padding: 0 5px 0 5px;
}

.studentNameBox {
    padding: 0 5px 0 5px;
}

.studentName {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

.studentLinkBox {
    margin-bottom: 8px;
    padding: 0 5px 0 5px;
}

.studentProjectLink {
    all: unset;
    font-style: italic;
}

.studentProjectLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.studentPDBox {
    padding: 0 5px 0 5px;
}

.studentProDesc {
    margin: 0;
}

/*
<div class="projectsInnerBox"> <!-- THESE INNER BOXES WILL BE DYNAMICALLY GENERATED -->
    <div class="studentNameBox">
        <p class="studentName">John Johnston</p>
    </div>
<div class="studentProTitleBox">
<a class="studentProTitle"></a>
</div>
<div class="studentLinkBox">
<a class="studentProjectLink"></a>
</div>
<div class="studentPDBox">
<p class="studentProDesc"></p>
</div>
</div>
 */