/*Set font for entier site */
html, body, footer {
    font-family: 'Libre Franklin', 'sans-serif';
    padding: 0;
    margin: 0;
}


/*Cardiff logo in the navBar*/
img {
    height: 50px;
    width: 50px;
    padding-left: 20px;
}

/*NavBar controls*/
nav {
    background-color: #22211f;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
}

 nav ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 10px;
}

nav ul li {
    width: 52.76px;
    height: 26.67px;
    margin: 8px 13px 8px 13px;
    padding: 0 2px 0 2px;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: White;

}

nav ul li a:hover {
    color: grey;
}

main {
    padding-top: 110px;
}

/* Footer Controller */
footer {
    background-color: #22211f;
}

footer hr {
    border: #333 solid 1px;
    width: 95%;
    align-content: center;
}

footer ul {
    list-style-type: none;
    color: white;
    display: inline-block;
    vertical-align: text-top;
}

footer ul li, h3 {
    padding-top: 4px;
}

footer ul li a {
    text-decoration: none;
    color: #e9e9e9;
}

footer ul li a:hover{
    text-decoration: underline;
}

footer .footender li {
    display: inline-block;
    float: left;
    padding: 10px 16px;
    font-size: 13px;
}

/*Sponsor logos controls*/
footer .sponsorImages img {
    height: 65px;
    width: 128px;
    margin-top: 25px;
    vertical-align: top;
    margin-bottom: 20px;
}

footer .sponsorImages #QAAImage {
    height: 95px;
    width: 135px;

}