/*Cardiff logo in the navBar*/
img {
    height: 70px;
    width: 67px;
    padding-left: 50px;
}

/*NavBar controls*/
nav {
    background-color: #22211f;
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
}

 nav ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 10px;
}

nav ul li {
    width: 52.76px;
    height: 26.67px;
    margin: 8px 13px 8px 13px;
    padding: 0 2px 0 2px;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: White;

}

nav ul li a:hover {
    color: grey;
}

main {
    padding-top: 110px;
}

/* Footer Controller */
footer {
    background-color: #22211f;
}

footer ul {
    list-style-type: none;
    color: white;
    display: inline-block;
    vertical-align: text-top;
}

footer ul li, h3 {
    padding: 14px 16px;
}

footer .footender li {
    display: inline-block;
    float: left;
    padding: 14px 16px;
}