<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Software Engineering Feed</title>
        <meta name="author" content="Drake Deaton">
        <meta name="description" content="A website that streams new Software Engineering posts from Twitter bi-hourly.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:image" content="https://static.thenounproject.com/png/262131-200.png">
        <meta property="og:description" content="A website that streams new Software Engineering posts from Twitter bi-hourly.">
        <meta property="og:title" content="Software Engineering Feed">
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="????????????????" />
        <meta name="twitter:title" content="Software Engineering Feed" />
        <meta name="twitter:image" content="https://static.thenounproject.com/png/262131-200.png" />
        <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/seo-and-web-glyph-26/64/seo-and-web-glyph-26-09-128.png" type="image/x-icon">
        <link rel="stylesheet" href="indexEditsOld.css">
        <script src="/js/index.js"></script>
    </head>
    <body>
    <header th:replace="fragments/header.html :: header"></header>
    <main>
        <h1>#SoftwareEngineering</h1>
        <div id="SEFeed">
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/442638666377093120/ZsLYqg2j_normal.png
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">golangprojects</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">.@axicorp is looking for: Jr. Software Engineer #RemoteWork 🇪🇺 #remote #golang #golangjobs #unix #hiring #remotejob https://t.co/HleIW3KaRH</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/442638666377093120/ZsLYqg2j_normal.png
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">golangprojects</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">.@axicorp is looking for: Jr. Software Engineer #RemoteWork 🇪🇺 #remote #golang #golangjobs #unix #hiring #remotejob https://t.co/HleIW3KaRH</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/442638666377093120/ZsLYqg2j_normal.png
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">golangprojects</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">.@axicorp is looking for: Jr. Software Engineer #RemoteWork 🇪🇺 #remote #golang #golangjobs #unix #hiring #remotejob https://t.co/HleIW3KaRH</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/442638666377093120/ZsLYqg2j_normal.png
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">golangprojects</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">.@axicorp is looking for: Jr. Software Engineer #RemoteWork 🇪🇺 #remote #golang #golangjobs #unix #hiring #remotejob https://t.co/HleIW3KaRH</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/1115654589863399425/bWIJu5IW_normal.png
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">ITJobs_OH</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">Full Stack Java Software Engineer https://t.co/B0JPyRakx2</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/1115654589863399425/bWIJu5IW_normal.png
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">ITJobs_OH</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">Full Stack Java Software Engineer https://t.co/B0JPyRakx2</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/1115654589863399425/bWIJu5IW_normal.png
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">ITJobs_OH</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">Full Stack Java Software Engineer https://t.co/B0JPyRakx2</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/924349984505516034/PFLb0bV5_normal.jpg
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">HamidJamil11</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">RT @money1online: NEW Software Allows You to make pro level #videos in no time! https://t.co/Okm0KonKnu #sales… https://t.co/GTIvYhF6gv</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/924349984505516034/PFLb0bV5_normal.jpg
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">HamidJamil11</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">RT @money1online: You can use the Software to build your own Profiteering Website in under 5 Minutes.… https://t.co/eBBIj9cgY4</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/577877605321302016/pn8U9gEY_normal.jpeg
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">atassist</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">Don't forget we're having our biggest sale yet! Get 70% off Sugu, our property management and accounting software,… https://t.co/8gKTuYmS9U</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/818537721681604608/Nb7OLPYR_normal.jpg
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">techpractical</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">@davidgerard i trust some software. unfortunately none of it is the software i use. and it's still got to run on hardware.</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/821546655652511744/J7exkBml_normal.jpg
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">JobsSeattle1</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">JOB; Seattle WA USA - Senior Software Engineer - ... engineering principles algorithms data structures an: ... engi… https://t.co/7So8VplnKY</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/1133040223028490245/tb2r-tNU_normal.png
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">rmngrc</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">@slicknet I do not understand why prefixing their title with "Remote". You are software engineer regardless!</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/1117356575029698560/p6gwzwvL_normal.jpg
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">RSSFeedsCloud</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">Top 5 Best Free Beat Making Software of 2019 You Need to&nbsp;Try https://t.co/CW06xlZBmd</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/479149338635927552/ZEcxdSYu_normal.jpeg
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">RicFinlay</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">@DaleKerr Ran out of characters to add more detail, tried to get more players in at expense of explaining extent of… https://t.co/9n7uZNpSkp</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/378800000468867862/e7204208d234c47676b89c0f8f02034b_normal.jpeg
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">Pete_Cripps</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">@pavsmith @chrisinsilico He's talking about the 'profession' of software engineering, not individuals. His issue is… https://t.co/XBuLE0PU1D</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/1044037191150837760/NFV5RZWE_normal.jpg
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">ContentMaker1</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">#SEObility All-In-One #SEO #Software &amp; Tools: Lifetime Subscription https://t.co/iwkmUjYMvo</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/1115732222005346304/8UiNjcLH_normal.png
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">ITJobs_IL</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">Senior Java Software Engineer with multithreading https://t.co/CdPdDAKXIo</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/1115732222005346304/8UiNjcLH_normal.png
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">ITJobs_IL</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">Full Stack Software Engineer https://t.co/ac5GyWcHoi</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/1200614436735770624/_3EiPh5S_normal.jpg
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">omnivicent</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">@chriscartw83 I dont care for either outcome because in my universe the simple fact is that every bit of energy spe… https://t.co/Iw8TBscmnO</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/484083803300716544/pts8oKLp_normal.jpeg
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">worldvoipcenter</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">LG G8 ThinQ starts receiving Android 10, but when is the update coming to the US? It seems that LG G8 ThinQ units a… https://t.co/Wco79eZHuq</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/585713434177708032/FVITaH6s_normal.png
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">Shanghai_Jobs_</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">software engineer: Dell - Shanghai - Engineer (DevOps)for VxRail Job Description Dell provides the technology that… https://t.co/jsi1ixkzGH</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/879227145569972224/FWgGAWOE_normal.jpg
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">kasturii</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">@BillieBustUp What software ?</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/912751249690263552/m8MEJI2-_normal.jpg
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">DeenTheDrummer</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">CM Performing Arts Center Online Tickets https://t.co/JRAKRkSCMW</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/1116741950357606400/LsRJXG1R_normal.png
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">ITJobsinOhio</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">Full Stack Java Software Engineer https://t.co/sEZMpyFDD3</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SEBox">
                <div class="SEOuterPicBox">
                    https://pbs.twimg.com/profile_images/1116741950357606400/LsRJXG1R_normal.png
                </div>
                <div class="SEOuterInfoBox">
                    <div class="OuterUserPostBox">
                        <div class="SEOuterUsernameBox">
                            <p class="username">ITJobsinOhio</p>
                        </div>
                        <div class="SETweetTextBox">
                            <p class="TweetText">Full Stack Web Software Engineer – .Net/JS/SQL https://t.co/eUEz2Yrh4k</p>
                        </div>
                    </div>
                    <div class="SECommentsBox">
                        <div class="SENewCommentsFormBox">
                            <form>
                                <textarea name="SENewCommentText" class="SENewCommentText"></textarea>
                                <button class="SENewCommentSubmit">Submit</button>
                            </form>
                        </div>
                        <div class="SENewCommentsButtonBox">
                            <button type="button" class="SENewCommentsButton"> <img class="messageIcon" src="/media/comments icon.png" alt="^"> <span class="SECommentsNum">1</span> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
    </body>
</html>