body{
    margin:0
}
header{
    border:1px solid #000;
    min-width:350px
}
nav{
    height:60px;
    display:flex;
    justify-content:space-between;
    background-color:#d3d3d3
}
#navbarLogo,#navbarLogoF{
    height:30px;
    margin:0 0 0 3px
}
#navInfo{
    margin:4px 3px 0 0
}
#aboutUs,#username{
    display:inline-block;
    width:100%
}
main{
    border:1px solid #000;
    display:flex;
    flex-direction:column;
    align-items:center;
    min-width:350px
}
h1{
    border:1px solid #000;
    margin:5px 0 5px 0;
    width:75%;
    max-width:500px;
    min-width:300px
}
#SEFeed{
    width:75%;
    margin:0 0 5px 0
}
.SEBox{
    height:auto;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    position:relative;
    margin:5px 0 5px 0
}
.SEOuterPicBox{
    height:60px;
    width:15%;
    max-width:60px;
    display:flex;
    align-items:center;
    justify-content:center
}
.SEOuterPicBox img{
    border-radius:50%
}.SEOuterInfoBox{
     width:85%;
     min-width:100px
 }
.OuterUserPostBox{
    min-height:60px
}
.SEOuterUsernameBox{
    height:20px;
    width:100%;
    display:flex;
    align-items:center
}
.SETweetTextBox{
    height:auto;
    width:100%
}
footer{
    height:60px;
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    background-color:#d3d3d3;
    min-width:350px
}
#navbarLogo,#navbarLogoF{
    font-family:monospace;
    font-size:40px;
    font-weight:700
}
#username{
    font-size:20px;
    text-align:right
}
#aboutUs a{
    all:unset;
    float:right
}
h1{
    font-size:22px
}
.username{
    margin:0;
    font-size:.9rem
}
.TweetText{
    margin:0;
    font-size:.8rem
}
.SEOuterInfoBox,.SEOuterPicBox{
    background-color:#deb887
}