<!doctype html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 <head> 
  <meta charset="utf-8"> 
  <title>Software Engineering Feed</title> 
  <meta name="author" content="Drake Deaton"> 
  <meta name="description" content="A website that streams new Software Engineering posts from Twitter bi-hourly."> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta property="og:image" content="https://static.thenounproject.com/png/262131-200.png"> 
  <meta property="og:description" content="A website that streams new Software Engineering posts from Twitter bi-hourly."> 
  <meta property="og:title" content="Software Engineering Feed"> 
  <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/seo-and-web-glyph-26/64/seo-and-web-glyph-26-09-128.png" type="image/x-icon"> 
  <link rel="stylesheet" href="/css/headerAndFooter.css"> 
  <link rel="stylesheet" href="/css/index.css"> 
  <script src="/js/index.js" defer></script> 
  <script async defer type="application/ld+json" src="/resources/static/js/indexJsonLd.js"></script> 
 </head> 
 <body> 
  <header th:replace="fragments/header.html :: header"></header> 
  <main> 
   <h1>#Software</h1> 
   <div id="SEFeed"> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/951067870208905216/cfNH6Ow7_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/KSG7rXtqyn"><p class="username">ishnae</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Guidewire is #hiring for Cloud DevOps #insurtech #fintech #tweetmyjobs #jobopening #jobs https://t.co/jjMbo54qve #job</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1141197849897529345/pbsKzXb1_normal.png"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/0eIEDrxVsG"><p class="username">joselitommutuc</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@NoiaNetwork @StellarOrg @DevStellar Note: they will be using Stellar Consensus Protocol (opensource software) not Stellar public mainnet</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/575424960149110784/095sF_C5_normal.jpeg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="http://t.co/ABFQrG0p4a"><p class="username">websterNwebster</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Senior Software Engineer (Security) - Raleigh, NC - Raleigh, NC https://t.co/CY6HpNGrEY</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1201091452115308546/IlZvklsi_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/3LTmNYYSLZ"><p class="username">kaepora</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Software engineering: the practice of authoring a sufficiently large mosaic of bugs until a desired emergent behavior appears</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/501666351677583361/PA9RN1OK_normal.jpeg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/0wDL8VrN1B"><p class="username">TallyMiddleEast</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Tally Ali says - "With the last day to register for VAT round the corner, why wait?" So, try Tally today -… https://t.co/5uW9swrkyu</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/2707735140/37b2b1d64af5a3a81ecf56443490e4fc_normal.png"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="http://t.co/9vn60KxNbj"><p class="username">concordnewsnow</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Customer Service Software Market– A comprehensive study by Key Players Freshdesk, Salesforce, Oracle… https://t.co/PMZrl5t3Po</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/837763799117676544/Ik9NgWVt_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/2AlxxrlGyo"><p class="username">SOTI_Inc</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">We are #hiring innovative R&amp;D Software Developers for our growing office space in Galway, Ireland! Come join us &amp; b… https://t.co/SHMqLxX9cK</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1161268039414931457/1wIOSI3d_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href=""><p class="username">VectorworksCadv</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Join us to find out what's new in the latest Vectorworks 2020 software over festive drinks and nibbles! Tickets ava… https://t.co/ntz1tfsbzF</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/378800000862731429/hDqgcQgu_normal.jpeg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/boNBs6j6Fq"><p class="username">ianrae</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@danthuman Flat networks FTW! You can also add software defined topologies on top.</p> 
       </div> 
      </div> 
     </div> 
    </div>
   </div> 
  </main> 
  <footer th:replace="fragments/footer.html :: footer"></footer>  
 </body>
</html>