<!doctype html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 <head> 
  <meta charset="utf-8"> 
  <title>Software Engineering Feed</title> 
  <meta name="author" content="Drake Deaton"> 
  <meta name="description" content="A website that streams new Software Engineering posts from Twitter bi-hourly."> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta property="og:image" content="https://static.thenounproject.com/png/262131-200.png"> 
  <meta property="og:description" content="A website that streams new Software Engineering posts from Twitter bi-hourly."> 
  <meta property="og:title" content="Software Engineering Feed"> 
  <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/seo-and-web-glyph-26/64/seo-and-web-glyph-26-09-128.png" type="image/x-icon"> 
  <link rel="stylesheet" href="/css/headerAndFooter.css"> 
  <link rel="stylesheet" href="/css/index.css"> 
  <script src="/js/index.js" defer></script> 
  <script async defer type="application/ld+json" src="/resources/static/js/indexJsonLd.js"></script> 
 </head> 
 <body> 
  <header th:replace="fragments/header.html :: header"></header> 
  <main> 
   <h1>#Software</h1> 
   <div id="SEFeed"> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/951067870208905216/cfNH6Ow7_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/KSG7rXtqyn"><p class="username">ishnae</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Guidewire is #hiring for Cloud DevOps #insurtech #fintech #tweetmyjobs #jobopening #jobs https://t.co/jjMbo54qve #job</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1141197849897529345/pbsKzXb1_normal.png"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/0eIEDrxVsG"><p class="username">joselitommutuc</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@NoiaNetwork @StellarOrg @DevStellar Note: they will be using Stellar Consensus Protocol (opensource software) not Stellar public mainnet</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/575424960149110784/095sF_C5_normal.jpeg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="http://t.co/ABFQrG0p4a"><p class="username">websterNwebster</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Senior Software Engineer (Security) - Raleigh, NC - Raleigh, NC https://t.co/CY6HpNGrEY</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1201091452115308546/IlZvklsi_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/3LTmNYYSLZ"><p class="username">kaepora</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Software engineering: the practice of authoring a sufficiently large mosaic of bugs until a desired emergent behavior appears</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/501666351677583361/PA9RN1OK_normal.jpeg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/0wDL8VrN1B"><p class="username">TallyMiddleEast</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Tally Ali says - "With the last day to register for VAT round the corner, why wait?" So, try Tally today -? https://t.co/5uW9swrkyu</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/2707735140/37b2b1d64af5a3a81ecf56443490e4fc_normal.png"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="http://t.co/9vn60KxNbj"><p class="username">concordnewsnow</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Customer Service Software Market? A comprehensive study by Key Players Freshdesk, Salesforce, Oracle? https://t.co/PMZrl5t3Po</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/837763799117676544/Ik9NgWVt_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/2AlxxrlGyo"><p class="username">SOTI_Inc</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">We are #hiring innovative R&amp;D Software Developers for our growing office space in Galway, Ireland! Come join us &amp; b? https://t.co/SHMqLxX9cK</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1161268039414931457/1wIOSI3d_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href=""><p class="username">VectorworksCadv</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Join us to find out what's new in the latest Vectorworks 2020 software over festive drinks and nibbles! Tickets ava? https://t.co/ntz1tfsbzF</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/378800000862731429/hDqgcQgu_normal.jpeg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/boNBs6j6Fq"><p class="username">ianrae</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@danthuman Flat networks FTW! You can also add software defined topologies on top.</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/661200410493894656/TruFfJ_Y_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="http://t.co/JT8abpDLYV"><p class="username">Enlighten_News</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Is your business using software to record client information and opportunities? If not you might be interested in? https://t.co/wg5YRA16oa</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/897130927104507904/FI1cpoxK_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="http://t.co/zSIB2rcdYY"><p class="username">BeslerDotCom</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Simple errors on Medicare cost reports can have a substantial impact on provider reimbursement. Learn how BESLER's? https://t.co/VFFmayxS3R</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1087750225870102529/GsQx_JfU_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/Y5PJcovUJP"><p class="username">rautsan</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Chief Digital Officers play a powerful role, survey finds - Software Testing News North America https://t.co/ZbXfk42GTv #stereotype</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1167819859557834754/1A_XdbI4_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/DtQ6RarJg5"><p class="username">CryptoCryptoNe3</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Software Engineer CRYPTO CRYPTO NEWS - https://t.co/zrzoxfomgK</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href=""><p class="username">Julia69205125</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@jaloanile There are also articles about how the current exploitative elite run economic system should be replaced? https://t.co/QQh6cz4zxQ</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/930250853998583810/EMVnzEH0_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/h2lsZ3QjVU"><p class="username">wejellyfish</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Congrats to our friends at @colab_software on the release of CoLab 2.0! Check it out. https://t.co/tpKozz78yg</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/562345357472845824/Dql3EE_e_normal.jpeg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/Dpz41WBCfy"><p class="username">WebDimensionshh</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Curation Software On Sale! ICC Express Special 72 hr deal https://t.co/aX7sEXXb8y #webdimensions #iccpro #iccexpress</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/378800000561606510/f72ebd246da0d53db22b0aa4173b074c_normal.jpeg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href=""><p class="username">scene2003</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">No software engineer, however I suspect Microsoft has its program content idea wrong. Application design is the exp? https://t.co/3AZnJX1UYB</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1115162664878186497/S0OKvIhf_normal.png"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/PhyE1Q4wnf"><p class="username">Jamie_Akalin</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">.@CRN just announced its 2019 Products of the Year awards and guess who swept the Software-Defined Networking categ? https://t.co/DtDszsMdeK</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1204356506881331200/vJfuCmne_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href=""><p class="username">envZero</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">We are excited to have Reza Malekzadeh joining us as an advisory board. Reza was the first business employee at VMw? https://t.co/LLdj4ErTZt</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1066197876085321728/8jamdjtd_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="http://t.co/J4bIMbXOev"><p class="username">PennyStockGeeks</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">SWRM **Breaking News** AppSwarm, Corp., Announces New Custom Software Development Division in Anticipation of Multi? https://t.co/T66ZmRp4IL</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1203377826629668864/Hhmb73l3_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/cigmmAdOEG"><p class="username">jksugarkiss</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">ANDROID ARE YOU JOKIN? I JUST WOKE UP AND YOU WANT TO DO ANOTHER SOFTWARE UPDATE? THIS SHIT'S ANNOYING STOP</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/871643043723661313/WgquVhVf_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/DT2hzqpHvY"><p class="username">alfina87</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">If you want to build a great software product, make decisions and prioritize on products / product features that ma? https://t.co/PQgfGhvrfs</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/378800000476725742/cd1b4e75e36e11a9a9af25a7c52927f0_normal.jpeg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/sFcoTloDvI"><p class="username">Fierce_Brake</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">China moves to ban foreign software and hardware from state offices ? TechCrunch https://t.co/zoEx7NTFxc</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/877868315154296832/mmP2eeGM_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/uECUTdUP5W"><p class="username">SteamProfiles</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Every new feature in the AMD Radeon Software Adrenalin Edition 2020 driver update https://t.co/oJGi825btG</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1058037814879809537/HVvZpCF7_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/lUrecnrSxx"><p class="username">webconnectivity</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">WCL is a software &amp; systems integrator for commercial #insurance companies that creates greater efficiencies &amp; oppo? https://t.co/K2lV2pv2Me</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/hfZs6m46Tf"><p class="username">bootusb1</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">RT tomshardware: AMD?s Radeon Software Adrenalin 2020 Edition: Better Performance, Integer Scaling, More? https://t.co/iqdbidNN8V</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1006215786552352769/hcT3Ut3D_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/y1aLnfPKks"><p class="username">profimetrics</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">A brand new Profimetrics newsletter is out! Make sure not to miss the latest news about the best pricing optimizati? https://t.co/9kX4YhaMUq</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/999787402905378816/SBISz1f8_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href=""><p class="username">ZevinClark</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">I spend hours each day downloading the software of generational legends. Right now I?m learning from John D Rockefeller.</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1174747027986452480/cSlw47L-_normal.png"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/zFeqTSVTef"><p class="username">AppleSupport</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@Hill_Rat We?d love to help in any way we can. Please send us a DM and let us know more about what?s going on. Whic? https://t.co/PW9oMYumtr</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1204218735629869056/8ZMIX6uP_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href=""><p class="username">pink4the</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Through Shawn?s team actually listening to the Spanish-speaking patient, they were able to find out that she could? https://t.co/3f9ZD2x5B0</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/688352293368934400/FvxH67RN_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href=""><p class="username">snakinflamz333</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@mj_software @SpiroAgnewGhost @realDonaldTrump @MariaBartiromo That's 1 tweet every 14 4 hours with no sleep. #adderall</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1662035518/anthemhayek_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/dh6dVLR5h2"><p class="username">anthemhayek</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@KennedyFinance @GoodManFiske @KalMolinet @notjohnkennedy @naomibrockwell @jeffdeist @TraceMayer @ChrisConeyInt? https://t.co/F6yb8jxbVV</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1198445660132925441/JSmWaP6Z_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href=""><p class="username">nlpo11</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">AMD's massive Adrenalin 2020 Edition update streamlines Radeon Software https://t.co/MJksw7BJ3c via @pcworld</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/985438101081350144/vr_GxWVX_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/KQQ4ovc7in"><p class="username">whoellri</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">#EASYFamily means partnership on eye level, intern and extern. Flat hierarchies give as the change for a close and? https://t.co/u2nbqv2Uzw</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1037516075326353408/FtKJVXp8_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/MPib9rKJRh"><p class="username">tezbaker_io</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">We are please to announce that we are one of the bakers on the updated ledger software, making it easier to delegat? https://t.co/LmkkD0EBZR</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1442761019/bullseye-800_normal.png"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/fsGauOau9n"><p class="username">Percona</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">As the open-source software industry continues to grow, we should all be aware of how impactful the work we do is.? https://t.co/yC1CSbLTgX</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/805507545481756673/FJo1uUiA_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/3VhX2FYHEL"><p class="username">ianfogg42</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Especially striking is Martin's comment that the way a vendor delivers 5G ?cloud? fast is to bolt service interface? https://t.co/AplRpUl8ln</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1017732372853166080/HZ9STV9w_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/zi2r3bJGl6"><p class="username">SCSOP</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@MikeQuindazzi @gigadgets_ Yeah you going to trust your baby to some Beta software with questionable bluetooth link? https://t.co/3U70ywzycs</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/855072156262301696/mM_JDF4a_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/iMzkrEkY13"><p class="username">PanditRajeev22</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@Purchases @screamingfrog @MalteLandwehr @Marie_Haynes For the software, a user is the single Registered email Id,? https://t.co/mSSehiOmsP</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1006596501085097984/NqLJyY-D_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="http://t.co/pg7CwZPUv9"><p class="username">RedThreadSpaces</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">A confidential mobility #software developer spins off from a 100-year-old traditional company by building a new? https://t.co/mwnTlUS96J</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1135629309840748544/-AhTZy3B_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href=""><p class="username">conchoecia</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@mikethemadbiol I still completely disagree with you. The people that are best-positioned to write good software fo? https://t.co/BpkJjwkd5m</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/668695171912085504/ZiI0P8ZZ_normal.png"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="http://t.co/0xwR6rolEX"><p class="username">presseticker</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">CURSOR Software, LoanLink, Remberg und RobHost neu in der Initiative Cloud Services Made in Germany? https://t.co/7fRevRbzuG</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href=""><p class="username">DanielS05362213</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Eclipse, with 25 Years in the Custom software field is now offering a low cost Cloud Based Businss software Solutio? https://t.co/WC8h1OVi9z</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1104046464685232128/orO7-aAD_normal.png"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="http://t.co/KZQp6fkWRI"><p class="username">ECE_Design</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">ECE Blog on Plant Design Software Solutions https://t.co/LLY7sPd1JT via @twitterapi</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/855476424353996800/O9xQ-Niu_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href=""><p class="username">Finys_Software</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">We have good news from New Jersey. Thank you to Jim Doherty and his team at Farmers of Salem. https://t.co/hnz4ShWQt5</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/474902903/android_normal.png"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="http://t.co/2GdkXOW5rH"><p class="username">Android_Work</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">GST Invoice - https://t.co/KDxUhLCKxz</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1197435202/shirtlogo-red_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/xNEOYsDyyT"><p class="username">KerrConsulting</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">This is the time of year we start thinking about ways to do things better. Forget weight loss. I want a better way? https://t.co/psyn4ZZlwJ</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1203063456771039233/zTRE9ry9_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/PmZI3Xy0ra"><p class="username">EditrixMosser</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">A note from my Outlook analytics this morning: "During working hours, you read almost all of your emails within 30? https://t.co/alKsEJTNEL</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1128273690951602176/UYyea_C5_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/LhBLP7vx3s"><p class="username">MargaretSiegien</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Vishal Sikka, the ex-Infosys CEO and a global expert in&nbsp;#artificialintelligence , has been nominated to the board o? https://t.co/mML7juoOOy</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1168600730065887234/MqhS9VwO_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href=""><p class="username">RaphaelKahan</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@clearingfog_III The most astounding thing is, not one software solution (ime) has solved the "download all" problem</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1136841747990888453/NsNidzVt_normal.png"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href=""><p class="username">DarkNodeGuru</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Ledger Live Adds Support for Tezos and Staking, Adds Features to Hardware Wallets https://t.co/U3WtykYPqN</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1181956934703824897/walm8eb__normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/0EG1tDZO7m"><p class="username">mikearcipe</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">trying to learn an editing software in a night isnt really the thing, eh?</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1180191455521972225/LswYOLPO_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/oKRlPU5IfO"><p class="username">hisa_py</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Hey #recruiters and people that would like to hire a #fullstack #software #development #engineer or maybe just see? https://t.co/Mk5zzILS3L</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1202839269510762496/yJtB-rWb_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href=""><p class="username">AkashPawarHR</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Take a blow my buddy software engineer @Raj1472Raj 1 MONTH TO HRITHIK BIRTHDAY</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/2794112811/be9e05a97cc4b92377c13541378ed5b2_normal.jpeg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/mNo3NuuaUs"><p class="username">SisterCitiesInt</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">The #German-engineered robot @astro_cimon, complete with software able to detect human emotions, is being sent to t? https://t.co/mMwzRhTyin</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/585518153444282370/BlYNqrIf_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="http://t.co/Twsi7ZmOX0"><p class="username">DataprotectMex</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">#Nutanix #DaaS solutions helped #AspenTech deliver their most critical applications so their customers can mass-dep? https://t.co/5o6dUt8Bqu</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/2206937344/desktop_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="https://t.co/yqOkZhjz85"><p class="username">monocello</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">RT @XaaSJournal: "4 Mistakes MSPs and VARs Make with Software as a Service" - https://t.co/8RB0BoOCn9 #MSP https://t.co/7Vo1F90joq</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/829811819392831488/O9kDaXmr_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <a class="usernameLink" href="http://t.co/ail80HhpC9"><p class="username">Hawaiianimages</p></a> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@JERutter I use software called PixInsight to process astrophotos (a process with about 20 steps/versions of images… https://t.co/NOdzNJG8Iz</p> 
       </div> 
      </div> 
     </div> 
    </div>
   </div> 
  </main> 
  <footer th:replace="fragments/footer.html :: footer"></footer>  
 </body>
</html>