<!doctype html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 <head> 
  <meta charset="utf-8"> 
  <title>Software Engineering Feed</title> 
  <meta name="author" content="Drake Deaton"> 
  <meta name="description" content="A website that streams new Software Engineering posts from Twitter bi-hourly."> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta property="og:image" content="https://static.thenounproject.com/png/262131-200.png"> 
  <meta property="og:description" content="A website that streams new Software Engineering posts from Twitter bi-hourly."> 
  <meta property="og:title" content="Software Engineering Feed"> 
  <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/seo-and-web-glyph-26/64/seo-and-web-glyph-26-09-128.png" type="image/x-icon"> 
  <link rel="stylesheet" href="/css/headerAndFooter.css"> 
  <link rel="stylesheet" href="/css/index.css"> 
  <script src="/js/index.js" defer></script> 
 </head> 
 <body> 
  <header th:replace="fragments/header.html :: header"></header> 
  <main> 
   <h1>#SoftwareEngineering</h1> 
   <div id="SEFeed"> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/620738172369002501/KBcZFLS1_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">Hectorg95069005</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Check Printing Software, Print Checks Online, Any Printer or Paper, Instant https://t.co/WVCmzYJek8 Send digital c… https://t.co/yFzJNrxIyy</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1176183369157230594/39QGUM1J_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">DataRuckus</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@herrmanndigital @cashlion2 Start by reading this: -We lived by this book (I left). I'm a software dev\data analyst… https://t.co/ihI9kNNmFL</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1198985660796850176/xlECe3S0_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">viks9172</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@Indian90059449 @iRituMalhotra @TajinderBagga Digitalization... 😂😂 sir u know the 1st smartest step would b to make… https://t.co/sX4g3slJMX</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/597142903064907776/FamtWOy5_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">hitechit</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Accounting #Software #Technology Transfer: #Brand any of the #ERP #software. #Medical Store, #Pharma #Dealers'… https://t.co/N1mx0CWyv9</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1200173802203824129/zVkifU5O_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">EmilyPlayz_RBX</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@RoyaleHighRosee @yuuichi_zc @nightbarbie @EnchantedRen @OceanOrbsRBX @RoyaleHighTopic What app/software do you use 😃😃</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1084418122541682688/C9_X11MD_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">HRISassociates</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">👩‍💻 SaaS Based HRM Market 2019-2025: Deep Analysis of Current Trends and Future Demand by Top Key Players – ADP, LL… https://t.co/mtjgTNMgiS</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/856886527900565504/mlX1rIAu_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">M_Azam95</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@mhnrnsr The phone's software isn't accurately estimating the power left in the battery.</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1139996721579286528/Hbg8qRf1_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">___cxnt</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@___JHood Yes. It’s arguably the best thing to be qualified in if you work in software delivery. Start with Agile… https://t.co/w8owAAb1L3</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/699710577506037760/67T5ADLY_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">tmj_NHC_adm</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">See our latest #Lawrence, MA #IT job opportunity and click the link in our bio to apply: Sr. Software Design Assura… https://t.co/SWXgnOViFK</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/767147534297030656/xl_T4YFc_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">mjppeeters</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">What habits made me a better Software Engineer? https://t.co/7h9MjfLiox</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1664686978/Richardson_normal.gif"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">RichardsonTimes</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Critical Analysis: RealPage (NASDAQ:RP) and MAM Software Group (NASDAQ:MAMS) - Mitchell Messenger https://t.co/SpQCBiTATZ</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1000721477191262209/LVDIPSiN_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">DevStartupJobs</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">.@rubrikInc is looking for a Software Engineer, Core Security (Palo Alto) https://t.co/8bDhdY7lHl</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1052530460994228230/vdP00eH9_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">EDUCATION_BASS</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">There is still time... Discount code: EBBF50 50% discount on all memberships... #blackfriday #cybermonday… https://t.co/5xrNSyyNab</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1139639516090818560/4oFzLfj0_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">dashiedawolf</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@Croakk_ You updated the software or the firmware on your gear lately? Had this issue a while back after a CUI update.</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1196643173553995776/0P-fpDqX_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">geekshubh</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Going to take part in @SIH_2020 for Management Information System by @MinistryWCD for software part and also probab… https://t.co/wd7hWYIudL</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1196643173553995776/0P-fpDqX_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">geekshubh</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Going to take part in @SIH_2020 for Management Information System by @MinistryWCD for software part and also probab… https://t.co/wd7hWYIudL</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1144943934134738946/zJDQ5FLO_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">okoyedonaldson</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@software_artist You day give some info on bitcoin sha</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1183897426257534976/hLxHvXM6_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">krisnova</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">And I’m tired of the “security is a pill you can take” philosophy There is no such thing as secure software and t… https://t.co/7Ct8HSKzj6</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1197356591940591616/8ufqCb2q_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">Nightingveil</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@221Bcrow Do you use writing software or have a private blog? I know Yahoo groups went away, but a private blog is… https://t.co/7S7Hwv3mRK</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1197356591940591616/8ufqCb2q_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">Nightingveil</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@221Bcrow Do you use writing software or have a private blog? I know Yahoo groups went away, but a private blog is… https://t.co/7S7Hwv3mRK</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1159711456423755776/m_450ZEu_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">connor_dbh</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@Masochist_Ralph He nods. Is his lack of understanding so noticeable that Ralph had to address it? He started to qu… https://t.co/iCxeUEmQzv</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1180854714629607424/zDEHMrIS_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">NkosinathiBMab1</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@Maphumzah Im too old for this, yazi I discovered after 2 years that my car has Bluetooth and it uses wifi for traf… https://t.co/kI885MYn2m</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/424378200290889728/KrwDhOtz_normal.jpeg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">BhopalNewsPaper</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Lost and Found Software Market: Global Industry Analysis, Size, Share, Growth, Trends, and Forecasts 2019–2025 https://t.co/kutdnx6m4z</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/424378200290889728/KrwDhOtz_normal.jpeg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">BhopalNewsPaper</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Lost and Found Software Market: Global Industry Analysis, Size, Share, Growth, Trends, and Forecasts 2019–2025 https://t.co/kutdnx6m4z</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/930807052535865344/LxG61pp2_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">ThisLincolnian</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Smith Micro Software, Inc. $SMSI Expected to Post Quarterly Sales of $11.94 Million https://t.co/XPhfwFouod</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/655888203451252736/rhPBlRiG_normal.png"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">laserllama</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Think I just stumbled across the flat earth meets scientology equivalent of software design consulting and they hav… https://t.co/qTjHl4X6An</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/655888203451252736/rhPBlRiG_normal.png"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">laserllama</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Think I just stumbled across the flat earth meets scientology equivalent of software design consulting and they hav… https://t.co/qTjHl4X6An</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/735979936121397248/eSAY5VZF_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">stephenbourne2</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@TMiniminx @up_again Yes very straight forward get a tech savy person to set up software that pulls files direct fr… https://t.co/6FEAykuDKd</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/920022465329459201/J-xx9Dl0_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">gorey_software</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">My PC threw up today trying to boot windows https://t.co/snv8VD78qo https://t.co/sal5EQ5eUw</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/680936425081016320/1HhdWQAA_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">tmj_stl_itpm</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">We're hiring in #OFallon, MO! Click the link in our bio to apply to this job and more: Senior Engineer, Software En… https://t.co/cF9J8GWc8m</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1175697622700634112/D6qRMoNL_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">LarcombePeter</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">@RMChapple @BorisJohnson It makes me think that the PM has employed someone to forge his homework. Which also makes… https://t.co/MGfPEqfMLg</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1185237331177070594/Hgusouu4_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">flyosity</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">The largest email marketing software companies provide “data augmentation” services where, using only your email ad… https://t.co/YGvPql86us</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1164838647503265795/I1vbRzfq_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">VContenting</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">#visualcontenting #contentmarketing #socialmedia #seo Want to Improve Business? Benefits of Using https://t.co/wcd04z5Lw4 #technology</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/2225384140/Logo_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">ETRADEcareers</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Want to work in #JerseyCity, NJ? View our latest opening: https://t.co/oWps3TihIs #IT</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/688138888963948544/BsxSJmpm_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">tmj_dub_eng</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Mastercard is hiring in #Dublin! Read about our latest #Engineering job opening via the link in our bio: Senior Sof… https://t.co/TzdxJGqfjJ</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1148095306556477440/y-x2I_aQ_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">CSA_DVillamizar</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">#Microsoft, the #Update on #Windows10 provides free of charge if you are already a Windows user. So first test whet… https://t.co/0F7paAs7TH</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1047402184151724032/sdEEJT4z_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">Geeksby</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">Einstein argued that there must be simplified explanations of nature, because God is not capricious or arbitrary. N… https://t.co/nhthhuz3MS</p> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="SEBox"> 
     <div class="SEOuterPicBox"> 
      <img class="SEPicBoxInner" alt="profile picture" src="https://pbs.twimg.com/profile_images/1189752769948921856/6BqP0-5F_normal.jpg"> 
     </div> 
     <div class="SEOuterInfoBox"> 
      <div class="OuterUserPostBox"> 
       <div class="SEOuterUsernameBox"> 
        <p class="username">viIIaneuves</p> 
       </div> 
       <div class="SETweetTextBox"> 
        <p class="TweetText">What editing app/software are y’all using for your decade in film edits because I can’t find a good one https://t.co/mw7vzSRPDf</p> 
       </div> 
      </div> 
     </div> 
    </div>
   </div> 
  </main> 
  <footer th:replace="fragments/footer.html :: footer"></footer>  
 </body>
</html>