/* /////////////////////////////////// POSITIONING /////////////////////////////////// */
body{
    margin:0;
}
header{
    border-bottom:1px solid grey;
    border-left:0;
    border-right:0;
    min-width:350px;
}
#username{
    display:inline-block;
    width:100%;
}
main{
    display:flex;
    flex-direction:column;
    align-items:center;
    min-width:350px;
}
h1{
    border:1px solid #000;
    margin:5px 0 5px 0;
    width:50%;
}
#SEFeed{
    width:60%;
    margin:0 0 10px 0;
}
.SEBox{
    height:auto;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    position:relative;
}
.SEOuterPicBox{
    height:60px;
    width:15%;
    max-width:60px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.SEOuterPicBox img{
    border-radius:50%;
}
.SEOuterInfoBox{
    width:85%;
    min-width:100px
}
.OuterUserPostBox{
    min-height:60px;
}
.SEOuterUsernameBox{
    height:20px;
    width:100%;
    display:flex;
    align-items:center;
}
.SETweetTextBox{
    height:auto;
    width:100%;
}
.usernameLink{
    margin-left: 4px;
}
/* /////////////////////////////////// STYLE /////////////////////////////////// */
#username{
    font-size:20px;
    text-align:right;
}
h1{
    font-size:22px;
}
.username{
    margin:0;
    font-size:.9rem;
}
.TweetText{
    margin:3px 0 0 0;
    font-size:.8rem;
}
.SEOuterInfoBox{
    border-right: 1px solid grey;
    border-top: 1px solid grey;
}
.SEOuterPicBox{
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}
#SEFeed .SEBox:last-child .SEOuterInfoBox,
#SEFeed .SEBox:last-child .SEOuterPicBox{
    border-bottom: 1px solid grey;
}
.SEOuterInfoBox,.SEOuterPicBox{
    background-color: lightgrey;
}
.usernameLink{
    text-decoration: unset;
    font-weight: 600;
    color: black;
}
